#contato-page{
  .form-control{
    height: inherit;
  }
}
.title-page{
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  &:before{
    /* position: block; */
    content: "";
    margin-right: 10px;
    padding-right: 10px;
    background-color: $primary-blue;
  }
}
.content-page{
  color: #666;
}
