/*
Theme Name: GV Imóvel
Theme URI: http://secaoweb.com.br
Author: Seção Web
Author URI: http://secaoweb.com.br
Version: 1.0
*/

.simulador { width: 20%; margin-top: 10px; float: left; }
.single-imovel-footer th { text-align: center; }

.paginator { margin-bottom: 100px; }
.paginator:first-of-type { display: none !important; }
.paginator main { margin-top: 20px; border-top: 1px solid #3d8ede; width: 96%; margin-left: 2%; }
.paginator main ul.pager > li > a {
    border: 1px solid #3d8ede;
    border-radius: 3px !important;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}
/* correcoes menu mobile */
@media (max-width: 992px){
    .navbar {
        margin-bottom: 0 !important;
        padding-bottom: 5px !important;
    }
    div.navbar-header {
        padding-bottom: 0 !important;
    }
    div#navbar ul.nav > li > a {
        text-indent: 10px !important;
        padding: 5px !important;
        margin: 0 !important;
    }
    .call-now {
        display: none;
    }
    ul.nav > li > a > span.fa-stack {
        margin-left: -10px;
    }
}
/* outros componentes em mobile */
@media (min-width: 992px) and (max-width: 1199px) {
    .sort-order-description {
        display: none;
    }
}
@media (max-width: 991px){
    aside#side-content {
        display: none;
    }
}
@media (max-width: 767px){
    .paginator {
        margin-bottom: 70px;
    }
    div.info-imovel h1 {
        font-size: 16px !important;
    }
}
@media (max-width: 390px){
    .paginator main ul.pager > li > a {
        font-size: 12px;
        display: inline;
    }
}
@media (max-width: 360px){
    h1.title-imovel {
        font-size: 16px !important;
    }
}
@media (max-width: 340px){
    div.item-listagem .footer-imovel {
        font-size: 12px;
    }
    div.blockMsg img {
        margin-left: -50%;
        width: 160px !important;
        height: 55px !important;
    }
}
@media (max-width: 325px){
    .paginator main ul.pager > li > a {
        font-size: 11px;
        display: inline;
    }
    .paginator {
        margin-bottom: 30px;
    }
    .sort-order-description {
        display: none;
    }
}
div.blockMsg {
    width: auto !important;
}

#select-properties-sort { color: #999 !important; font-weight: 400 !important; }

.label-radio-order { cursor:pointer; margin-left:15px; text-indent: 10px; font-weight: normal; }

.input, .input input[type="text"] { width: 100%; }
#filtro-home .input input[type="text"] { color: #FFF !important; border-color: #FFF !important; }
#filtro-home .input input[type="text"]::-webkit-input-placeholder { color: #FFF; }

.conteudo-filtro .form-group { margin-top: 15px !important; }
