.btn-light-blue{
  background-color: $primary-blue;
  color: #fff;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover, &:focus{
    background-color: lighten($primary-blue,5);
    color: #fff;
  }
  &:active{
    background-color: $soft-blue;
  }
}
.btn-light-blue-radius{
  @extend .btn-light-blue;
  border-radius: 0px;
}
.btn-card{
  background-color: #e39b1a;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 1.5em;
  width: 100%;
  &:hover, &:focus{
    color: #fff;
    background-color: lighten(#e39b1a,5);
  }
  &:active{
    background-color: darken(#e39b1a,5);
  }
}
