#filtro-home{
  select{
    background: rgba(0,0,0,0.0) !important;
    color: #fff !important;
    border: 1px solid #fff !important;
  }
}
select, input:not([type=radio]),textarea{
  background: rgba(0,0,0,0.0) !important;
  appearance: none;
  padding: 13px 20px 13px 10px !important;
  border: 1px solid $primary-blue !important;
  border-radius: 3px;
}

.select{
  overflow: hidden;
  position: relative;
  display: block;
  &:after{
    content:"\f0d7";
    font-family: FontAwesome;
    color: #fff;
    padding: 15px 20px;
    position: absolute; right: 0; top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
  }
}

.label-text{
  color: #666;
}
