.navbar-brand{
  padding: 0px 15px;
  padding-top: 5px;
  img{
    margin-bottom: 30px;
  }
}
.call-now{
  position: absolute;
  color: #fff;
  list-style: none;
  padding-left: 25px;
}
.navbar{
  border-radius: 0px;
  font-weight: 900;
  padding: 20px 0;
  background-color: $navbar-blue; //Change background color
  border: none;
  transition: all 0.2s ease-in;
  .navbar-nav{
    li{
      a{
        line-height: 40px;
        padding: 15px 15px;
        text-transform: uppercase;
        color: #fff; //CHange link color
        transition: all 0.25s ease-in;
        &:hover,&:focus, &:active{
          background-color: rgba(0,0,0,0.0);
          color: $soft-blue;
        }
      }
      .fa{
        font-size: 1.5em;
      }
    }
    .active > a{
      background-color: rgba(0,0,0,0.0);
      color: $soft-blue;
      &:hover, &:focus, &:active{
        background-color: rgba(0,0,0,0.05);
        color: #fff;
      }
    }
  }
  .btn-outline-reverse-white{
    margin-top: 6px;
    margin-left: 30px;
  }
}

//Bootstrap uses .navbar-default to set color to navbar-toggle...
.navbar-default{
  .navbar-toggle{
    margin-top: 17px;
    background-color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,0.2);
    transition: all 0.3s ease-in;
    &:hover, &:focus, &:active{
      background-color: rgba(255,255,255,0.8);
      // border-color: $primaryBlue;
      .icon-bar{
        background-color: $soft-blue;
      }
    }
    &:focus:active{
      background-color: rgba(255,255,255,1);
    }
    .icon-bar{
      background-color: $soft-blue;
    }
  }
}

//Navbar change breakpoint
@media (max-width: 992px){
  .navbar-header{
    float: none;
    padding-bottom: 30px;
  }
  .navbar-toggle{
    display: block;
  }
  .navbar-collapse{
    border-top: 1px solid transparent;
  }
  .navbar-collapse.collapse{
    display: none !important
  }
  .navbar .navbar-nav{
    float: none !important;
    margin: 7.5px -15px;
    li{
      a{
        color: #fff;
      }
    }
  }
  .navbar-nav>li{
    float: none;
    display: block;
  }
  .navbar-nav>li>a{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display: block !important;
  }
  .btn-outline-reverse-white{
    display: none;
  }
}

// .top-nav-collapse{
//   background-color: $primaryBlue;
//   transition: all 0.5s ease-in;
//   .navbar-nav{
//     li{
//       a{
//         transition: all 0.25s ease-in;
//         &:hover,&:focus, &:active{
//           background-color: rgba(255,255,255,0.03);
//           color: $secundaryGray;
//         }
//       }
//     }
//   }
//   .navbar-toggle{
//     margin-top: 17px;
//     background-color: rgba(255,255,255,0.5);
//     border-color: rgba(255,255,255,0);
//     transition: all 0.3s ease-in;
//     &:hover, &:focus, &:active{
//       background-color: rgba(255,255,255,0.2);
//       border-color: $primaryBlue;
//       .icon-bar{
//         background-color: #fff;
//       }
//     }
//     &:focus:active{
//       background-color: $secundaryBlue;
//     }
//     .icon-bar{
//       background-color: $primaryBlue;
//     }
//   }
// }
// .navbar-fixed-top{
//   transition:all 0.5s ease-out;
// }
//
//
// @media(max-width: 992px){
//   .top-nav-collapse{
//     padding-bottom: 20px;
//   }
// }
