#banner-home{
  padding: 0;
  margin-bottom: 50px;
  .item-slide-home{
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center center;
    width: 100%;
    min-height: 80vh;
  }
  .card-venda{
    padding: 20px;
    max-height: 60vh;
    overflow: auto;
    background: $primary-blue;
    color: #fff;
    h1{
      margin-top: 0;
      color: #fff;
      font-weight: bold;
      font-size: 1.6em;
    }
    span{
      display: block;
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}

@media(max-width: 400px){
  .btn-card{
    font-size: 1em !important;
  }
}
