#filtro-home{
  padding-top: 30px;
  padding-bottom: 15px;
  background: $navbar-blue;
  border: 3px solid #e3e3e3;
  margin-bottom: 50px;
}
#filtro-home{
  .form-control{
    height: inherit;
    font-size: 1em;
    font-weight: normal;
  }
}

#filtro-listagem{
  h1{
    margin-top: 0;
  }
  border: 1px solid $primary-blue;
  .info{
    text-align: center;
    font-weight: bold;
  }
}
.conteudo-filtro{
  padding: 15px;
  .btn {
    width: 100%;
  }
  .form-group{
    margin-top: 30px;
  }
  .form-control{
    height: auto;
  }
  select{
    color: #999 !important;
    font-weight: normal;
    border: 1px solid $primary-blue;
  }
  .select{
    &:after{
      color: $primary-blue;
    }
  }
  .busca-avancada{
    color: $primary-blue;
    font-size: 1.1em;
    text-transform: uppercase;
    cursor: pointer;
  }
}
#form-avancado{
  display: none;
}
aside{
  margin-bottom: 30px;
}
