footer{
  padding-top: 30px;
  padding-bottom: 20px;
  background: $navbar-blue;
  color: #fff;
  img{
    margin: auto;
  }
  ul{
    list-style: none;
    padding: 0;
    li{
      margin-bottom: 3px;
      a{
        color: #fff;
        &:hover{
          color: $soft-blue;
          text-decoration: none;
        }
      }

    }
  }
}
.header-menu{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.logo-footer{
  text-align: center;
}
