.title-section{
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
}
.item{
  margin-bottom: 30px;
}
.image-container{
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.area,.preco{
  float: left;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px 0px;
  text-align: center;
}
@media(max-width:1200px) and (min-width: 992px){
  .area,.preco{
    font-size: 1.2em;
  }
}
.area{
  background-color: $navbar-blue;
  width: 30%;
}
.preco{
  background-color: $primary-blue;
  width: 70%;
}
.info-imovel{
  border: 3px solid #e3e3e3;
  padding: 0px 10px;
  a{
    text-decoration: none;
  }
  h1:hover{
    color: $navbar-blue;
  }
  h1{
    font-size: 1.3em;
    font-weight: bold;
  }
}
.footer-imovel{
  text-align: center;
  background: #e3e3e3;
  color: #6d6d6d;
}

#imoveis-normais{
  .area,.preco{
    font-size: 1.3em;
  }
  @media(max-width:1200px) and (min-width: 992px){
    .area,.preco{
      font-size: 1em;
    }
  }
  @media(min-width:992px){
    .footer-imovel{
      font-size: 0.8em;
    }
  }

}
