.info{
  background: $primary-blue;
  font-size: 1.2em;
  padding: 15px;
  color: #fff;
  margin-top: 0;
}

.listagem{
  .info-imovel{
    height: 250px;
    overflow: auto;
    h1{
      font-size: 1.8em;
      color: $primary-blue;
    }
  }
}
.item-listagem{
  margin-bottom: 50px;
}

@media (min-width: 992px){
  .row-no-padding {
    [class*="col-"]:not(:first-child) {
      padding-left: 0 !important;
    }
  }
}

.ordenar{
  select{
    font-weight: normal;
    color: #333 !important;
    border: 1px solid $primary-blue;
  }
  .select{
    &:after{
      color: $primary-blue;
    }
  }
  .form-control{
    height: inherit;
  }
}
