#main-content,#side-content{
  margin-top: 30px;
}

#form-single-imovel{
  h1{
    font-size: 2em;
    margin-top: 0;
  }
  border: 1px solid $primary-blue;
  .info{
    text-align: center;
    font-weight: bold;
  }
}
#slide-imovel{
  background: $navbar-blue;
  img{
    margin: auto;
    width: 80%;
  }
}
.slick-next{
  right: 20px;
  z-index: 999;
  width: 40px;
}
.slick-prev{
  left: 20px;
  z-index: 999;
  width: 40px;
}
.slick-next:before, .slick-prev:before
{
  color: #fff;
  font-family: 'slick';
  font-size: 30px;
  line-height: 1;
}
.slick-arrow::before{
  opacity: 1;
  &:hover{
    opacity: 0.5;
  }
}

@media(max-width:992px){
  #slide-imovel{
    img{
      margin: auto;
      width: 80%;
    }
  }
  .slick-next{
    right: 0px;
  }
  .slick-prev{
    left: 0px;
  }
}

.title-imovel{
  margin-top: 0;
  font-size: 1.8em;
}
.header-form{
  font-weight: bold;
  color: #6d6d6d;
  font-size: 1.1em;
}

.conteudo-filtro{
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}
.single-imovel-footer{
  margin-top: 20px;
  font-size: 1.3em;
  .fa{
    color: $navbar-blue;
  }
}
.box-info{
  border: 1px solid $primary-blue;
  margin-bottom: 30px;
  margin-top: 30px;
  .info{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  }
}
.content-box{
  padding: 20px;
  color: #666;
}
